@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.Admin.Pages.Products.ProductNoImageModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                 
                <span>Product List</span>
                </h3>
               
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@TempData["error"]</strong>
                    </div>
                }
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@TempData["success"]</strong>
                    </div>
                }
            </div>
            <div class="card-body table-responsive">

                <form asp-page="./ProductNoImage" method="get">
                    <div class="form-actions no-color">
                        <div class="row">
                            <input type="hidden" name="id" value="@Model.TenantId" />
                            <input type="hidden" name="uid" value="@TempData["Third"]" />
                            <div class="col-md-12">Find by name, date, price, commission:</div>
                            <div class="col-md-3"><input type="text" name="SearchString" class="form-control" value="@Model.CurrentFilter" /></div>
                            <div class="col-md-3"><input type="submit" value="Search" class="btn btn-primary" /></div>

                            <div class="col-md-5">

                            </div>

                        </div>
                    </div>
                </form>
                @{
                    int? p = 0;
                    if (Model.CurrentPage == null)
                    {
                        p = 1;
                    }
                    else
                    {
                        p = Model.CurrentPage;
                    }
                }
                page @p of @Model.TotalPages pages (@Model.Count items)

                <div id="datatable_wrapper" class="dataTables_wrapper table-responsive dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table id="" class="table table-bordered dt-responsive nowrap dataTable no-footer" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">

                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>
                                            <a asp-page="./ProductNoImage" asp-route-sortOrder="@Model.Date" asp-route-currentFilter="@Model.CurrentFilter">
                                                Date
                                            </a>

                                        </th>
                                        <th>
                                            <a asp-page="./ProductNoImage" asp-route-sortOrder="@Model.Name" asp-route-currentFilter="@Model.CurrentFilter">
                                                Name
                                            </a>

                                        </th>
                                        <th>
                                            <a>
                                                Category
                                            </a>

                                        </th>
                                        <th>
                                            <a asp-page="./ProductNoImage" asp-route-sortOrder="@Model.Publish" asp-route-currentFilter="@Model.CurrentFilter">
                                                Publish
                                            </a>

                                        </th>
                                        <th>Image</th>

                                        <th>
                                            <a asp-page="./ProductNoImage" asp-route-sortOrder="@Model.Shop" asp-route-currentFilter="@Model.CurrentFilter">
                                                Store Name
                                            </a>

                                        </th>

                                        <th>
                                            <a asp-page="./ProductNoImage" asp-route-sortOrder="@Model.Price" asp-route-currentFilter="@Model.CurrentFilter">
                                                Price (NG)
                                            </a>

                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Product)
                                    {
                                        <tr>

                                            <td>
                                                <a asp-page="/Purchases/Create" class="btn btn-primary btn-sm" asp-route-id="@item.Id">
                                                    Add QTY/Price
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                                            </td>
                                            <td>
                                                <a asp-page="./Edit" asp-route-id="@item.Id">
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.Name)
                                            </td>
                                            <td>
                                                @if (item.Published == true)
                                                {
                                                    <a asp-page="./UpdateProductStatus" asp-route-id="@item.Id">
                                                        true
                                                        <i class="fa fa-refresh" style="margin-right:5px;"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-page="./UpdateProductStatus" asp-route-id="@item.Id">
                                                        <span style="color:#ff0000;">false</span>
                                                        <i class="fa fa-refresh" style="margin-right:5px;"></i>
                                                    </a>
                                                }
                                            </td>
                                            <td>
                                                @if (item.ProductPictures.FirstOrDefault() != null)
                                                {
                                                    <img src="@item.ProductPictures.FirstOrDefault().PictureUrlThumbnail" class="img-responsive" alt="" style="max-height:50px;" />

                                                }
                                            </td>

                                            <td>
                                                @item.Tenant.BusinessName
                                            </td>

                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                         

                                        </tr>
                                    }
                                </tbody>

                            </table>
                            <br />

                            page @p of @Model.TotalPages pages (@Model.Count items)
                            @{
                                var prevDisabled = !Model.Product.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.Product.HasNextPage ? "disabled" : "";
                            }
                            @if (Model.TenantId != null)
                            {
                                <a asp-page="./ProductNoImage"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@(Model.Product.PageIndex - 1)"
                                   asp-route-id="@Model.TenantId"
                                   asp-route-uid="@Model.UID"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   class="btn btn-primary @prevDisabled">
                                    Previous
                                </a>

                         

                                <a asp-page="./ProductNoImage"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@(Model.Product.PageIndex + 1)"
                                   asp-route-id="@Model.TenantId"
                                   asp-route-uid="@Model.UID"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   class="btn btn-primary @nextDisabled">
                                    Next
                                </a>
                            }
                            else
                            {
                                <a asp-page="./ProductNoImage"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@(Model.Product.PageIndex - 1)"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   asp-route-uid="@Model.UID"
                                   class="btn btn-primary @prevDisabled">
                                    Previous
                                </a>
                                <a asp-page="./ProductNoImage"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageIndex="@(Model.Product.PageIndex + 1)"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   asp-route-uid="@Model.UID"
                                   class="btn btn-primary @nextDisabled">
                                    Next
                                </a>
                            }
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        function checkingReg() {

                            var number = document.getElementById('product').value;
                            var student = {};
                            student.ProductId = number
            $.ajax({
                            type: "POST",
                url: "@Url.Action("UpdateProduct", "Home")",
                data: JSON.stringify(student),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                                    console.log(data)
                    $("#food").append(
                        //"<div class=\"alert-box\" data-alert>" + data+"<a class=\"close\">&times;</a></div>"
                        "<span>" + data + "</span>"
                    );
                    $(this).unbind("click");
                                }

                            });
                            console.log(student + "jj")
        }

    </script>

}






@*

    <!--@Model.CurrentPage of
    @Model.TotalPages pages-->
    <paging class="pagination" total-records="@Model.total" show-total-pages="true" show-total-records="true" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging>*

    <!--<nav aria-label="Page navigation">
        <ul class="pagination flex-wrap">
            <li class="page-item @(Model.EnablePrevious ? " " : " disabled" )">
                <a asp-route-currentPage="1"
                   class="page-link" aria-label="Frist">
                    <span aria-hidden="true">|<</span>
                    <span class="sr-only">First</span>
                </a>
            </li>
            <li class="page-item @(Model.EnablePrevious ? " " : " disabled" )">
                <a asp-route-currentPage="@(Model.CurrentPage -1)"
                   class="page-link" aria-label="Next">
                    <span aria-hidden="true"><</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            @if (Model.CurrentPage > 5)
            {
                <li class="page-item disabled">
                    <a href="#" class="page-link">
                        <span aria-hidden="true">...</span>
                        <span class="sr-only">...</span>
                    </a>
                </li>
            }
            @{
                int old2 = 0;
                if (Model.CurrentPage > 5)
                {
                    old2 = (Model.CurrentPage - 6);
                }
                else
                {
                    old2 = 1;
                }


            }

            @for (var i = old2; i <= (old2 + (Model.CurrentPage - 4)); i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? " active" : "" )">
                    <a asp-route-currentPage="@i" class="page-link">@i</a>
                </li>
                if (i == old2 + Model.CurrentPage)
                    break;

            }
            @for (var i = Model.CurrentPage; i <= (Model.CurrentPage + 5); i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? " active" : "" )">
                    <a asp-route-currentPage="@i" class="page-link">@i</a>
                </li>
                if (Model.CurrentPage == Model.TotalPages)
                    break;
            }

            @if (Model.TotalPages > Model.CurrentPage + 5)
            {
                <li class="page-item disabled">
                    <a href="#" class="page-link">
                        <span aria-hidden="true">...</span>
                        <span class="sr-only">...</span>
                    </a>
                </li>
            }

            <li class="page-item @(Model.EnableNext ? " " : " disabled" )">
                <a asp-route-currentpage="@(Model.CurrentPage + 1)"
                   class="page-link" aria-label="Previous">
                    <span aria-hidden="true">></span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item @(Model.EnableNext ? " " : " disabled" )">
                <a asp-route-currentPage="@Model.TotalPages"
                   class="page-link" aria-label="Last">
                    <span aria-hidden="true">>|</span>
                    <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </nav>-->

    *@