@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Pages.Search1Model
@{ ViewData["Title"] = "Search";
    Layout = "/Pages/Shared/_WebLayout.cshtml"; }
@{ bool isMobile = false;
    string u = HttpContext.Request.Headers["User-Agent"];
    System.Text.RegularExpressions.Regex b = new System.Text.RegularExpressions.Regex(@"(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino", System.Text.RegularExpressions.RegexOptions.IgnoreCase | System.Text.RegularExpressions.RegexOptions.Multiline);
    System.Text.RegularExpressions.Regex v = new System.Text.RegularExpressions.Regex(@"1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-", System.Text.RegularExpressions.RegexOptions.IgnoreCase | System.Text.RegularExpressions.RegexOptions.Multiline);
    if ((b.IsMatch(u) || v.IsMatch(u.Substring(0, 4))))
    {
        isMobile = true;
    } }
@section StyleMain {


}
<style>
</style>
@if (isMobile == false)
{
<div class="hidden-sm hidden-xs">
    <partial name="_header_One" />
    <div class="main-body clearfix sidebar--left">
        <div class="hidden-sm hidden-xs">
            <h3 class="" style="padding:5px 0 2px;color:#ff6a00;margin:6px auto 0px;text-align:center;">Search Result</h3>
            <h6 class="" style="padding:3px;color:#ff6a00;margin:1px auto;text-align:center;">All Categories "@TempData["search"]" <span style="font-family:'Times New Roman', Times, serif;font-weight:900;color:#000000;">(@string.Format("{0:C}", Model.Count).Replace("$", "").Replace(".00", "") Results)</span> </h6>

            @TempData["sd"]
        </div>
        <div class="container">


            <div class="sb-breadcrumbs breadcrumb-bg hidden-sm hidden-xs">
                <ul class="breadcrumb ">
                    <li class="breadcrumb-item ">
                        <i class="fa fa-home"></i>
                        <a href="/" class="breadcrumb-label">Home</a>
                    </li>

                    <li class="breadcrumb-item ">
                        <a href="#" class="breadcrumb-label">Search</a>
                    </li>

                    <li class="breadcrumb-item is-active">
                        <a href="#" class="breadcrumb-label">@TempData["search"]</a>
                    </li>

                </ul>

            </div>

            <div class="row page">

                <main class="col-lg-12 col-md-12 page-content" id="product-listing-container">
                    <div class="module clearfix ">


                        <div id="" class="sb-listing-tabs container">

                            <div class="ltabs-container d-flex">

                                <div class="ltabs-items-container ltabs-items-container--image">
                                    <section id="search_para">
                                        <div class="productsByCategoryTabs-products--carousel ">
                                            <section class="productCarousel products-list">

                                                <div class="">
                                                    <div class="">
                                                        @foreach (var data in Model.Product)
                                                        {
                                            <div class="productCarousel-slide product-layout col-md-2 col-sm-6 col-xs-6">
                                                <article class="product-item-container ">
                                                    <div class="left-block d-flex align-items-center justify-content-center">

                                                        @{ var df = "ddddddf"; }
                                                        <a asp-page="/ProductDetails" asp-route-customerRef="" asp-route-id="@data.Id" asp-route-name="" asp-route-shop="@data.Tenant.BusinessName.Replace(" ", "-")" asp-route-mktstate="@data.Market.State.Replace(" ", "-")" asp-route-mktaddress="@data.Market.Address.Replace(" ", "-")" class="product-item-photo" tabindex="0">
                                                            @if (data.ImageThumbnail != null)
                                                            {
                                            <img class="img-responsive lazyautosizes lazyloaded" data-sizes="auto" src="https://manageahioma.exwhyzee.ng/@data.ImageThumbnail" alt="" title="" sizes="50px">}

                                                        </a>

                                                        <a asp-page="/ProductDetails" asp-route-customerRef="" asp-route-id="@data.Id" asp-route-name="" asp-route-shop="@data.Tenant.BusinessName.Replace(" ", "-")" asp-route-mktstate="@data.Market.State.Replace(" ", "-")" asp-route-mktaddress="@data.Market.Address.Replace(" ", "-")" class="quickview btn-button d-none d-md-block" data-animation="false" data-product-id="126" title="Quick view" tabindex="0"> <i class="fa fa-search"></i></a>

                                                    </div>

                                                    <div class="right-block hidden-xs hidden-sm">

                                                        <h4 class="card-title ititle" style="white-space: normal !important; font-size: 11px; height: 50px;">
                                                            <a asp-page="/ProductDetails" asp-route-customerRef="" asp-route-id="@data.Id" asp-route-name="" asp-route-shop="@data.Tenant.BusinessName.Replace(" ", "-")" asp-route-mktstate="@data.Market.State.Replace(" ", "-")" asp-route-mktaddress="@data.Market.Address.Replace(" ", "-")" tabindex="0" title="@data.Name">@data.Name</a>
                                                        </h4>
                                                        <div class="price-section price-section--withoutTax ">

                                                            <span data-product-price-without-tax="" class="pull-left" style="font-weight:900;color:#f56615;font-family:'Times New Roman', Times, serif;">&#8358;@string.Format("{0:C}", data.Price).Replace(".00", "").Replace("$", "")</span>
                                                            <span data-product-price-without-tax="" class="pull-right mkt-name" title="@data.Tenant.BusinessName @@ @data.Market.Name" style="font-weight:800;color:#3a3535;">@data.Market.ShortName</span>

                                                        </div><div class="clearfix"></div>

                                                        <h4 class="card-title" style="padding-bottom:0px;margin-bottom:3px;;text-align:center;">
                                                            <a style="font-weight:800;color:#3a3535;" asp-page="/Info/ShopPage" asp-route-name="@data.Tenant.TenentHandle" tabindex="0" title="@data.Name">@data.Tenant.BusinessName</a>
                                                        </h4>
                                                    </div>
                                                    <div class="right-block hidden-md hidden-lg">

                                                        <h4 class="card-title" style="padding-bottom:0px;margin-bottom:3px;">
                                                            <a asp-page="/ProductDetails" asp-route-customerRef="" asp-route-id="@data.Id" asp-route-name="" asp-route-shop="@data.Tenant.BusinessName.Replace(" ", "-")" asp-route-mktstate="@data.Market.State.Replace(" ", "-")" asp-route-mktaddress="@data.Market.Address.Replace(" ", "-")" tabindex="0" title="@data.Name">@data.Name</a>
                                                        </h4>
                                                        <h4 class="card-title" style="padding-bottom:0px;margin-bottom:3px;">
                                                            <a style="font-weight:900;color:#f56615;font-family:'Times New Roman', Times, serif;">&#8358;@data.Price.ToString("0")</a>
                                                        </h4>
                                                        <h4 class="card-title" style="padding-bottom:0px;margin-bottom:3px;">
                                                            <a title="@data.Tenant.BusinessName @@ @data.Market.Name" style="font-weight:800;color:#3a3535;">@data.Market.ShortName</a>
                                                        </h4>
                                                        <h4 class="card-title" style="padding-bottom:0px;margin-bottom:3px;height:50px;">
                                                            <a style="font-weight:800;color:#3a3535;" asp-page="/Info/ShopPage" asp-route-name="@data.Tenant.TenentHandle" tabindex="0" title="@data.Name">@data.Tenant.BusinessName</a>
                                                        </h4>
                                                    </div>
                                                </article>

                                            </div>}
                                                    </div>

                                                </div>
                                            </section>
                                        </div>

                                    </section>
                                </div>


                            </div>
                        </div>




                    </div>

                </main>
            </div>
            @{ int? p = 0;
                if (Model.CurrentPage == null)
                {
                    p = 1;
                }
                else
                {
                    p = Model.CurrentPage;
                } }
            page @p of @Model.TotalPages pages (@Model.Count items)



            @*@if (Model.CurrentPage > Model.TotalPages)
                {
                    <li>
                        <a asp-page="./Search"
                           asp-route-pageIndex="@(Model.CurrentPage + 1)"
                           asp-route-catidlogger="@Model.catidloggers"
                           asp-route-hdsearcw="@Model.hdsearcws"
                           asp-route-customerRef=""
                           asp-route-searchString="@Model.searchStrings"><i class="fa fa-ellipsis-h"></i> ...</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="./Search"
                           asp-route-pageIndex="@(Model.TotalPages)"
                           asp-route-catidlogger="@Model.catidloggers"
                           asp-route-hdsearcw="@Model.hdsearcws"
                           asp-route-customerRef=""
                           asp-route-searchString="@Model.searchStrings"
                           class="@(Model.TotalPages == Model.CurrentPage  ? "active" : "")">@(Model.TotalPages)</a>
                    </li>
                    <li>
                        <a asp-area=""
                           asp-page="./Search"
                           asp-route-pageIndex="@(Model.TotalPages)"
                           asp-route-catidlogger="@Model.catidloggers"
                           asp-route-hdsearcw="@Model.hdsearcws"
                           asp-route-customerRef=""
                           asp-route-searchString="@Model.searchStrings"
                           class="btn btn-primary">
                            <i class="fa fa-arrow-left"></i> Next
                        </a>
                    </li>
                }
                </ul>*@
            <br />

            @{ var prevDisabled = !Model.Product.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Product.HasNextPage ? "disabled" : ""; }


            <a asp-page="./Search"
               asp-route-pageIndex="@(Model.Product.PageIndex - 1)"
               asp-route-catidlogger="@Model.catidloggers"
               asp-route-hdsearcw="@Model.hdsearcws"
               asp-route-customerRef=""
               asp-route-searchString="@Model.searchStrings"
               class="btn btn-primary @prevDisabled">
                Previous
            </a>
            @*@if (Model.CurrentPage > 7)
                {
                    <a class="" style="padding:4px;border-radius:4px;">
                        ...
                    </a>
                    for (var pp = 5; pp < Model.TotalPages; pp++)
                    {

                        if (pp <= Model.PerPage + 5)
                        {
                            <a class="@(pp == Model.CurrentPage ? "btn-primary" : "")"
                               style="padding:4px;border-radius:4px;"
                               asp-area=""
                               asp-page="./Search"
                               asp-route-pageIndex="@pp"
                               asp-route-catidlogger="@Model.catidloggers"
                               asp-route-hdsearcw="@Model.hdsearcws"
                               asp-route-customerRef=""
                               asp-route-searchString="@Model.searchStrings">
                                @pp
                            </a>
                        }
                        else
                        {
                            <a class="" style="padding:4px;border-radius:4px;">
                                ...
                            </a>
                        }

                    }
                }
                else
                {
                    for (var pp = 1; pp < Model.TotalPages; pp++)
                    {

                        if (pp < Model.PerPage)
                        {
                            <a class="@(pp == Model.CurrentPage ? "btn-primary" : "")"
                               style="padding:4px;border-radius:4px;"
                               asp-area=""
                               asp-page="./Search"
                               asp-route-pageIndex="@pp"
                               asp-route-catidlogger="@Model.catidloggers"
                               asp-route-hdsearcw="@Model.hdsearcws"
                               asp-route-customerRef=""
                               asp-route-searchString="@Model.searchStrings">
                                @pp
                            </a>
                        }

                    }
                }*@
            <a asp-page="./Search"
               asp-route-pageIndex="@(Model.Product.PageIndex + 1)"
               asp-route-catidlogger="@Model.catidloggers"
               asp-route-hdsearcw="@Model.hdsearcws"
               asp-route-customerRef=""
               asp-route-searchString="@Model.searchStrings"
               class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>

    </div>
</div>

                }
@{ int? pf = 0;
    if (Model.CurrentPage == null)
    {
        pf = 1;
    }
    else
    {
        pf = Model.CurrentPage;
    } }
@if (isMobile == true)
{
    <div class="" style="margin-top:70px;"></div>
<div class="hidden-lg hidden-md">
    <div class="hidden-lg hidden-md">
        <div class="container">
            <div class="section">


                <h5 class="pagetitle" style="line-height: 20px;font-size: 20px;">Search Results for @TempData["search"]</h5>
                <p>
                    page @pf of @Model.TotalPages pages (@Model.Count items)
                </p>
            </div>
        </div>
    </div>

    <div class="container" style="width:100%;">
        @*<div class="section">

            <div class="row ">
                <div class="col s12 pad-0">
                    <div class="search-bar">
                        <nav class="ui-forms">
                            <div class="nav-wrapper">
                                <form method="get" asp-page="/Search" asp-route-hdsearcw="asd23A-jnbsbdd-Nhauy" asp-route-catidlogger="hjdjfgbjhfbyewueureuweryweiuywurjhsdjbsjcfdshjsjchbcjbsdkvjbk">
                                    <div class="input-field">
                                        <input hidden name="catidlogger" value="MHHkkqndfmvnHGJHhgj2020-00-20MASTECH-ahioma-query-securjhh" />
                                        <input hidden name="hdsearcw" value="12387875ghxGFX762HXJ768E6WE" />
                                        <input id="search_text" name="searchString" type="search" placeholder="Search Products in Shops and Markets" value="@TempData["search"]" required="">
                                        <label for="search" class="active">
                                            <button type="submit" style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
                                                <i class="mdi mdi-magnify"></i>
                                            </button>
                                        </label>
                                        <i class="material-icons mdi mdi-close"></i>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>*@


        <div class="container" style="width:100%;padding:0 0px">
            <div class="section" id="search_para">

                <div class="row ">
                    <div class="col s12 pad-0">

                        <div class="">


                            <div class="row g-3">
                                <style>
                                    .top-product-card .product-title {
                                        font-size: 10px;
                                        font-weight: 700;
                                        margin-bottom: 0 !important;
                                        color: #020310;
                                        line-height: 1;
                                        min-height: 30px;
                                        max-height: 30px;
                                        overflow: hidden;
                                    }

                                    .top-product-card .sale-price {
                                        margin-bottom: 0.25rem;
                                        color: #f56615;
                                        font-weight: 700;
                                        font-size: 0.725rem;
                                        margin: 0;
                                        line-height: 1.3;
                                    }
                                </style>
                                <!-- Single Top Product Card-->
                                @foreach (var data in Model.Product)
                                {
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="card top-product-card" style="border: 1px solid #ff5c002b;">
                                    <div class="card-body">

                                        @if (data.ImageThumbnail != null)
                                        {
                            <a class="product-thumbnail d-block" style="margin:8px auto;" asp-page="/ProductDetails" asp-route-customerRef="" asp-route-id="@data.Id" asp-route-name="@data.Name.Replace(" ", "-")" asp-route-shop="@data.Tenant.BusinessName.Replace(" ", "-")" asp-route-mktstate="@data.Tenant.Market.State.Replace(" ", "-")" asp-route-mktaddress="@data.Tenant.Market.Address.Replace(" ", "-")">
                                <img class="mb-2" src="https://manageahioma.exwhyzee.ng/@data.ImageThumbnail" alt="" style="margin: 10px auto 0 !important;">
                            </a>}
                                        <a class="product-title d-block" asp-page="/ProductDetails" asp-route-customerRef="" asp-route-id="@data.Id" asp-route-name="@data.Name.Replace(" ", "-")" asp-route-shop="@data.Tenant.BusinessName.Replace(" ", "-")" asp-route-mktstate="@data.Tenant.Market.State.Replace(" ", "-")" asp-route-mktaddress="@data.Tenant.Market.Address.Replace(" ", "-")">
                                            @data.Name

                                        </a>
                                        <p class="sale-price">&#8358;@string.Format("{0:C}", data.Price).Replace(".00", "").Replace("$", "")</p>
                                        <p class="sale-price" style="color: #020310 !important;">&#64;@data.Market.ShortName</p>

                                    </div>
                                </div>
                            </div> <!-- Single Top Product Card-->}

                            </div>
                        </div>

                        page @pf of @Model.TotalPages pages (@Model.Count items)
                        <br />
                        @{ var prevDisabledm = !Model.Product.HasPreviousPage ? "disabled" : "";
                            var nextDisabledm = !Model.Product.HasNextPage ? "disabled" : ""; }


                        <a asp-page="./Search"
                           asp-route-pageIndex="@(Model.Product.PageIndex - 1)"
                           asp-route-catidlogger="@Model.catidloggers"
                           asp-route-hdsearcw="@Model.hdsearcws"
                           asp-route-customerRef=""
                           asp-route-searchString="@Model.searchStrings"
                           class="btn btn-primary @prevDisabledm">
                            Previous
                        </a>

                        <a asp-page="./Search"
                           asp-route-pageIndex="@(Model.Product.PageIndex + 1)"
                           asp-route-catidlogger="@Model.catidloggers"
                           asp-route-hdsearcw="@Model.hdsearcws"
                           asp-route-customerRef=""
                           asp-route-searchString="@Model.searchStrings"
                           class="btn btn-primary @nextDisabledm">
                            Next
                        </a>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>

                            }









