@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.UserManager.Pages.Users.AdministrationModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                    Administrative Users (@Model.Profile.Count())

                </h3>

            </div>
          
            <div class="card-body">


                <div id="datatable_wrapper" class="dataTables_wrapper table-responsive dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable7" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr role="row">
                                        <th>S/N</th>
                                        
                                        <th>Date</th>
                                        <th>ID</th>
                                        <th>
                                            Full Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Roles
                                        </th>
                                    </tr>
                                </thead>

                                @{
                                    int sno = 0;
                                }
                                <tbody>

                                    @foreach (var item in Model.Profile)
                                    {
                                    <tr>
                                        <td>
                                            @{ sno++; }
                                            @sno
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateRegistered)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdNumber)
                                        </td>
                                        <td>
                                            <a asp-page="./Details" asp-route-uid="@item.UserId">
                                                @Html.DisplayFor(modelItem => item.Fullname)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)

                                            <a asp-page="./UpdateUserStatus" asp-route-uid="@item.UserId">
                                                <i class="fa fa-refresh" style="margin-right:5px;"></i>
                                            </a>



                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Roles)
                                            <a asp-page="./UpdateUserPermission" asp-route-uid="@item.UserId" asp-route-fullname="@item.Fullname">
                                                <i class="fa fa-refresh" style="margin-right:5px;"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div>

