@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.Admin.Pages.Images.ImageValidateModel

@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <h3 class="card-title">
                        Images

                       
                    </h3>
                </div>
                <div class="card-body">


                    <div id="datatable_wrapper" class="dataTables_wrapper table-responsive dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable7" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th>SN</th>
                                            <th>
                                                Image
                                            </th>
                                            <th>
                                                Image Id
                                            </th>
                                            <th>
                                                Product Id
                                            </th>
                                            <th>
                                                Image Name
                                            </th>
                                            <th>
                                                Image
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                        </tr>
                                    </thead>

                                    @{
                                        int sno = 0;
                                    }


                                    <tbody>

                                        @foreach (var item in Model.ProductPictures)
                                        {
                                        <tr>
                                            <td>
                                                @{ sno++; }
                                                @sno
                                            </td>

                                            <td>

                                                @if (item.PictureUrlThumbnail != null)
                                                {
                                        <a href="@item.PictureUrl">
                                            <img src="@item.PictureUrlThumbnail" class="img-responsive" alt="" style="max-height:50px;" />
                                        </a>}
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductId)
                                            </td>
                                            <td>
                                                <a href="/@item.PictureUrlThumbnail">
                                                    @Html.DisplayFor(modelItem => item.PictureUrlThumbnail) <span class="text-danger">(@item.ThumbnailImageSize)</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/@item.PictureUrlThumbnail">
                                                    @Html.DisplayFor(modelItem => item.PictureUrl)<span class="text-danger"> (@item.ImageSize)</span>
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDateTimeUtc)
                                            </td>
                                        </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                     


                    </div>

                </div>

              
            </div>
        </div> <!-- end col -->
    </div>

