@page
@model Exwhyzee.AhiomaDashboard.Web.Areas.UserManager.Pages.ManageAccounts.UpdateShopStatusModel
@{
}

<div class="row">
    <div class="card-columns mx-auto d-flex justify-content-center col-12">

        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                    Update Shop Status (@Model.Profile.BusinessName)
                    <button class="btn-primary btn-sm">(@Model.Profile.TenantStatus)</button>


                </h3>
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@TempData["success"]</strong>
                    </div>
                }
                
               
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserID" value="@Model.Profile.UserId" />
                    <div class="form-group">
                        <label class="control-label">New Shop Status</label>
                        @Html.DropDownListFor(model => model.AccountStatus, new SelectList(Enum.GetValues(typeof(Exwhyzee.Enums.TenantEnum))), new { @class = "form-control" })

                    </div>
                   

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a asp-page="Index" class="btn btn-outline-primary waves-effect waves-light">Back</a>
                    </div>
                </form>

            </div>
        </div>


    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}