@page
@model Exwhyzee.AhiomaDashboard.Web.Areas.UserManager.Pages.ManageAccounts.ViewShopsModel
@{
}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <h3 class="card-title">
                        Stores
                       </h3>
                </div>
                <div class="card-body">


                    <div id="datatable_wrapper" class="dataTables_wrapper table-responsive dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable7" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th>S/N</th>
                                            <th>
                                                Store Name
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Market
                                            </th>
                                            <th>
                                                Address
                                            </th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        @{
                                            int sno = 0;
                                        }
                                        @foreach (var item in Model.Stores)
                                        {
                                            <tr>
                                                <td>
                                                    @{ sno++; }
                                                    @sno
                                                </td>
                                                <td>
                                                    <a asp-page="./StoreInfo" asp-route-id="@item.Id">
                                                        @Html.DisplayFor(modelItem => item.BusinessName)
                                                    </a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.User.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Market.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TenantAddresses.FirstOrDefault().Address)
                                                    <a href="#">
                                                        <i class="fa fa-refresh" style="margin-right:5px;"></i>
                                                    </a>
                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div> <!-- end col -->
    </div>