@page
@model Exwhyzee.AhiomaDashboard.Web.Areas.OneNairaOneView.Pages.Dashboard.AdUsersModel

@{ ViewData["Title"] = "Index"; }

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                    ONE NAIRA ONE VIEW USERS(@Model.Count)

                </h3>

            </div>
            @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)


            <div class="card-body">
                <form asp-page="./AdUsers" method="get">
                    <div class="form-actions no-color">
                        <div class="row">
                            <div class="col-md-12">Search...</div>
                            <div class="col-md-3"><input type="text" name="SearchString" class="form-control" value="@Model.CurrentFilter" /></div>
                            <div class="col-md-3"><input type="submit" value="Search" class="btn btn-primary" /></div>

                            <div class="col-md-5">

                            </div>

                        </div>
                    </div>
                </form>
                @{ int? p = 0;
                    if (Model.CurrentPage == null)
                    {
                        p = 1;
                    }
                    else
                    {
                        p = Model.CurrentPage;
                    } }
                page @p of @Model.TotalPages pages (@Model.Count items)

                @if (TempData["success"] != null)
                {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@TempData["success"]</strong>
        </div>}
                @if (TempData["error"] != null)
                {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@TempData["error"]</strong>
        </div>}

                <div id="" class="dataTables_wrapper table-responsive dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr role="row">
                                        <th>S/N</th>


                                        <th>Date</th>
                                        <th>ID</th>
                                        <th>
                                            Full Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>Disable Cr</th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>

                                @{ int sno = 0; }
                                <tbody>

                                    @foreach (var item in Model.Profile)
                                    {
                                    <tr>
                                        <td>
                                            @{ sno++; }
                                            @sno
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.AddForAdvert)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdNumber)
                                        </td>
                                        <td>
                                            <a asp-page="./Details" asp-route-uid="@item.UserId">
                                                @Html.DisplayFor(modelItem => item.Fullname)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisableAdsCrediting)
                                        </td>
                                        <td>


                                            <a asp-page="./ProcessPay" asp-route-id="@item.Id" class="btn btn-primary">
                                                Process
                                            </a>

                                        </td>



                                    </tr>
}


                                </tbody>
                            </table>

                            <br />

                            page @p of @Model.TotalPages pages (@Model.Count items)



                            @{ var prevDisabled = !Model.Profile.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.Profile.HasNextPage ? "disabled" : ""; }

                            <div>
                                <ul class="pagination">
                                    <li class="page-item @(!Model.ShowFirst ? "disabled" : "")">
                                        <a asp-page="./AllUsers" asp-route-CurrentPage="1" class="page-link"><i class="fas fa-fast-backward"></i></a>
                                    </li>

                                    <li class="page-item @(!Model.ShowPrevious ? "disabled" : "")">
                                        <a asp-page="./AllUsers" asp-route-sortOrder="@Model.CurrentSort"
                                           asp-route-pageIndex="@(Model.Profile.PageIndex - 1)"
                                           asp-route-currentFilter="@Model.CurrentFilter" asp-route-CurrentPage="@(Model.CurrentPage - 1)" class="page-link"><i class="fas fa-step-backward"></i></a>
                                    </li>
                                    @{ int? fnumber = Model.CurrentPage - 5;
                                        int? lnumber = Model.CurrentPage + 5; }



                                    @for (var i = fnumber; i <= lnumber; i++)
                                    {

                                        if (!i.ToString().Contains("-"))
                                        {
                                            if (i != 0)
                                            {


                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a asp-page="./AllUsers" asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-pageIndex="@i"
                               asp-route-currentFilter="@Model.CurrentFilter" asp-route-currentpage="@i" class="page-link">@i</a>
                        </li>}
                                        }
                                        if (i == Model.TotalPages)
                                        {
                                            break;
                                        }

                                    }

                                    <li class="page-item  @(!Model.ShowNext ? "disabled" : "")">
                                        <a asp-page="./AllUsers" asp-route-sortOrder="@Model.CurrentSort"
                                           asp-route-pageIndex="@(Model.CurrentPage + 1)"
                                           asp-route-currentFilter="@Model.CurrentFilter" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link"><i class="fas fa-step-forward"></i></a>
                                    </li>

                                    <li class="page-item  @(!Model.ShowLast ? "disabled" : "")">
                                        <a asp-page="./AllUsers" asp-route-sortOrder="@Model.CurrentSort"
                                           asp-route-pageIndex="@(Model.TotalPages)"
                                           asp-route-currentFilter="@Model.CurrentFilter"
                                           asp-route-CurrentPage="@Model.TotalPages" class="page-link"><i class="fas fa-fast-forward"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <button id="btnExport" onClick="fnExcelReport()">Export to xls</button>
                    </div>

                </div>
            </div>
        </div> <!-- end col -->
    </div>
    </div>
    @section Scripts {
        <script>
            var d = new Date();
            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [year, month, day].join('-');
            }
            function fnExcelReport() {
                var table = document.getElementById('datatable7'); // id of table
                var tableHTML = table.outerHTML;
                var fileName = 'download.xls';

                var msie = window.navigator.userAgent.indexOf("MSIE ");

                // If Internet Explorer
                if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                    dummyFrame.document.open('txt/html', 'replace');
                    dummyFrame.document.write(tableHTML);
                    dummyFrame.document.close();
                    dummyFrame.focus();
                    return dummyFrame.document.execCommand('SaveAs', true, fileName);
                }
                //other browsers
                else {
                    var a = document.createElement('a');
                    tableHTML = tableHTML.replace(/  /g, '').replace(/ /g, '%20'); // replaces spaces
                    a.href = 'data:application/vnd.ms-excel,' + tableHTML;
                    a.setAttribute('User_Table_' + formatDate(d), fileName);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                }
            }
        </script>
    }
