@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.Dashboard.Pages.Analysis.SoaReferralListModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                  SOA Referrals for  @Model.SOAProfile.Fullname

                </h3>
              
            </div>
            <div class="card-body">


                <div id="datatable_wrapper" class="dataTables_wrapper table-responsive dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable7" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr role="row">
                                        <th>S/N</th>
                                        <th>Date</th>
                                        <th>
                                            Full Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Shops
                                        </th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @{
                                        int sno = 0;
                                    }
                                    @foreach (var item in Model.Profile)
                                    {
                                        <tr>
                                            <td>
                                                @{ sno++; }
                                                @sno
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateRegistered)
                                            </td>
                                            <td>
                                                <a asp-page="/ManageAccounts/Details" asp-area="UserManager" asp-route-uid="@item.UserId">
                                                    @Html.DisplayFor(modelItem => item.Fullname)
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.Email)
                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                                                <a href="tel:@item.User.PhoneNumber">
                                                    <i class="fa fa-phone"></i> Call
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)

                                                <a asp-page="/ManageAccounts/UpdateUserStatus" asp-area="UserManager" asp-route-uid="@item.UserId">
                                                    <i class="fa fa-refresh" style="margin-right:5px;"></i>
                                                </a>



                                            </td>
                                            <td>

                                                @await Component.InvokeAsync("ShopStatistic", new { name = item.User.Email })
                                                <a asp-page="/ManageAccounts/ViewShops" asp-area="UserManager" asp-route-name="@item.User.Email">
                                                    <i class="fa fa-refresh" style="margin-right:5px;"></i>
                                                </a>

                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div>